* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
}

thead {
  font-family: sans-serif;
}

/* Modalo overlaijus/backgroundas */
.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease;
}
/* Padarom, kad issoktu modalas */
.modal_overlay--active {
  z-index: 1;
  opacity: 1;
}
/* Modalas */
.modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 40px;
  margin-top: 60px;
}
/* Mygtukai */
#main_modal_mygtukas {
  color: white;
  background: limegreen;
  border: none;
  padding: 5px;
}

#cancel {
  color: white;
  background: orangered;
  border: none;
  padding: 5px;
}

.trinti {
  color: white;
  border: none;
  background-color: orangered;
  padding: 5px 10px;
}

.Redaguoti {
  color: white;
  border: none;
  background-color: limegreen;
  padding: 5px 10px;
}